.tablerow0 { background-color:lightgreen; }
.tablerow1 { background-color:lightblue; }
.propname { font-weight:bold; }
.repname { font-weight:bold; }
.spectitle { font-weight:bold;color:blue; }
.version { font-size:9pt;font-style:italic; }
.spectratable {            }
