/*
	Minnesota Historical Society 
	mnhs.org 2007 
	GLOBAL Text CSS

*/
a, img {
	border:0;	
}
body, td, th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* HEADER
*/

#crumbs p {
	font-size: 10px; 
	line-height: 20px; 
	color: #41535C; 
	padding-left: 10px; 
	margin-top: 0px; 
	margin-bottom: 0px;
}
	
#crumbs a {
	text-decoration: none; 
	color: #41535C;
}
		
#crumbs a:hover {
	text-decoration: none; 
	background-color: #E0F1FE; 
	color: #005983;
}

/* CONTENT:  
Area for the main content of the page. 
*/

#content H1, #content  H2, #content  H3 {
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	text-decoration: none;
	margin: 10px 0px 8px;
}

#content H1 {
	font-size: 80%; 
 	line-height: 26px;	
 	color: #000000;	 
 	padding-right: 10px; 
 	padding-left: 10px; 
 	text-transform: uppercase;
}

#content H2 {
	font-size: 80%; 
	line-height: normal;
 	background-color: #ECE8E8; 
 	color: #404040; 
 	padding-top: 3px; 
 	padding-bottom: 3px; 
 	padding-right: 10px; 
 	padding-left: 10px;	
}

#content H3 {
	font-size: 80%; 
 	line-height: normal; 
 	color: #3A6894;	
 	padding-right: 10px; 
 	padding-left: 10px;
 	text-transform: uppercase;
}
#content H4 {
	font-size:75%;
 	padding-right: 10px; 
 	padding-left: 10px;
}


#content p {
	font-size: 70%;	
 	line-height: normal; 
  	color: #000000; 
  	text-decoration: none;
   	padding-right: 10px; 
   	padding-left: 10px; 
   	margin-top: 4px;
   	margin-bottom: 12px;
}
#content {
/*	font-size: 70%;	*/ 
}	

#content UL {
	font-size: 70%;
 	line-height: normal;
 	color: #000000;
   	padding-right: 10px;
	margin:0px;
	padding-left: 40px; 
	margin-top: 4px;
	margin-bottom: 12px
}

#content OL OL {font-size:100%;list-style-type:upper-alpha;}
#content OL UL {list-style-type: circle; font-size:100%;}
#content UL OL {font-size:100%;list-style-type:upper-alpha;}
#content UL UL {list-style-type: circle; font-size:100%;}
#content OL OL OL {font-size:100%;list-style-type:decimal;}
#content OL OL UL {list-style-type: Square;font-size:100%;}
#content OL UL UL {list-style-type: Square;font-size:100%;}
#content OL UL OL {font-size:100%;list-style-type:lower-alpha;}
#content UL OL UL {list-style-type: Square;font-size:100%;}
#content UL OL OL {font-size:100%;list-style-type:lower-alpha;}
#content UL UL OL {font-size:100%;list-style-type:lower-alpha;}
#content UL UL UL{list-style-type: Square; font-size:100%;}

#content UL LI {
	display: marker;
 	list-style-image: url(/web_assets/bullet.gif);
  	list-style-type: square;
}

#content OL {
	font-size: 70%; 
	line-height: 125%;
	color: #000000;
  	padding-left: 40px;
  	margin: 4px 20px 10px 0;
	display: inherit; left: 20px; 
	position:relative; 
	list-style-position: outside; 
	padding-bottom: 10px;
}

LI P {font-size: 100%;}
P LI  {font-size: 100%;}

#content a {
	color: #3A6894; 
	text-decoration: underline;
}

#content a:hover {
	background-color: #E0F1FE; 
	color: #41535C;
}
	
#content DL{
font-size:70%;
padding-bottom:7px;
}

#content DT{
font-weight:800;
   	padding-right: 10px; 
   	padding-left: 10px; 
   	margin-top: 4px;
}

#content DD{ 
padding-bottom:5px;
}

DL P {font-size: 100%;}
DL UL {font-size: 100%;}
DL OL {font-size: 100%;}

#content BLOCKQUOTE{font-size:70%;font-family:Arial, helvetica, sans-serif;}
BLOCKQUOTE P{font-size:100%}
BLOCKQUOTE OL{font-size:100%}
BLOCKQUOTE UL{font-size:100%}
BLOCKQUOTE DL{font-size:100%}
BLOCKQUOTE H1, BLOCKQUOTE H2, BLOCKQUOTE H3 {font-size:100%}

#content Q{
font-family: Georgia, "Times New Roman", Times, Serif;
font-style:normal;
}

/* use quote class in blockquote tag or quote tag for actual quote - weird I know, but this is for Contribute... */
.quote{
font-family: Georgia, "Times New Roman", Times, Serif;
font-style:normal;font-size:100%;
}

/* use indent instend of blockquote to indent content */
.indent20{
margin-left:20px;
}

.indent30{
margin-left:30px;
}
.indent40{
margin-left:40px;
}

/* primaryNav
Primary navigation for each section.  Controlled through an include file in the template. 
*/

.primaryNav {
	font-size: 60%;
	color: #005983;
	text-decoration: none;
	background-color: #CFE4EF;
	text-align: left;
	vertical-align: text-bottom;
}

.primaryNav a {
	display: block;
	margin: 0px;
	padding-left: 16px;
	padding-right: 3px;
	padding-top: 6px;
	padding-bottom: 4px;
	background: #CFE4EF;
	text-decoration: none;
	border-bottom: 1px solid #FFFFFF;
	color: #005983;}

.primaryNav a:hover {
	color: #FFFFFF; 
	background: #99CAE3;
}

.primaryNav a.heading{
	font-size:1.2em;
	font-weight:bold;
	display: block;
	margin: 0px;
	padding-left: 16px;
	padding-right: 3px;
	padding-top: 6px;
	padding-bottom: 4px;
	background: #B7D1DE;
	text-decoration: none;
	border-bottom: 1px dotted #FFFFFF;
	color: #FFFFFF; }


.primaryNav a:hover.heading{
	font-size:1.2em;
	font-weight:bold;
	display: block;
	margin: 0px;
	padding-left: 16px;
	padding-right: 3px;
	padding-top: 6px;
	padding-bottom: 4px;
	background: #CCFFFF;
	text-decoration: none;
	border-bottom: 1px solid #FFFFFF;
	color: #B7D1DE; }
.primaryNav img {
	text-align:center;
	}

/* promo:
controls styles for promo boxes under primary menu
*/

#promo {
	background-color:#E5F0F6;
}

#promo a{
	border-bottom:none;
	background-color: #E5F0F6;
}

/* SUBMENU
Subnav for each section. Controlled through an include file in the template.
*/

#submenu th {
	text-transform: uppercase;
	color: #3C4A51;
	margin-top: 5px;
	padding-left: 15px;
	padding-top:5px;
	padding-bottom:5px; 
	font: 600 70% Arial, Helvetica, sans-serif;
	
}



/* footer */

#footer a {
	text-decoration: none; 
	color:#005983;
}
#footer a:hover {
	text-decoration: underline;
}
#footer a:visited {
	color:#005983;
}

#footerlinks {
}

#footerlinks a {
	font-size: .6em;
	text-decoration: none; 
	color: #005983;
	border-right: dashed #666666 1px;
	padding-right: 8px;
	padding-left: 5px;
	line-height: normal;
}

#footerlinks a:visited{
	font-size: .6em;
}

#footerlinks a:hover {
	text-decoration: none; 
	background-color:#CEE7FB;
	color:#005983;
}

#footerlinks2 {
	margin-left:4px;
}

#footerlinks2 a{
	font-size: .6em;
	text-decoration: none;
	color:#005983;
	border-right:dashed #666666 1px;
	padding-right:8px;
	padding-left:5px;
}

#footerlinks2 a:visited{
	font-size: .6em;
}

#footerlinks a.endlink, #footerlinks2 a.endlink{
	text-decoration: none; 
	color:#005983;
	border-right:dashed #CBC0C0 1px;
	padding-right:8px;
	padding-left:5px;
}

#footerlinks2 a:hover.endlink{
	text-decoration: underline; 
}

address p{
	text-align:left;
	margin-left:10px;
	font-style:normal;
	font-size: 60%;
	line-height: normal;
}

/* Other Selectors */

#submenu UL {
	list-style-image: url(/web_assets/bullet_education.gif); 
	font-size: 60%;
	line-height: normal; 
	color: #005983; 
	list-style-type: square; 
	list-style-position: outside; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	padding-bottom: 10px;
}

#submenu UL a {
	text-decoration: none; 
	color: #037F93;
	}

#submenu UL a:hover {
	text-decoration: none;
	background-color: #D9E1B9; 
	color: #037F93;
	}

.disclaimer {
	color: #999999; 
	font-size: 10px;
}

.featuresindent {
	font-size: 60%; 
	padding-left: 8px; 
	padding-right: 8px; 
	padding-bottom: 14px;
}

.featuresindent a {
	text-decoration:none
}

/* Access Selectors */

a.access em{
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
    }

/* SECONDARY NAV */

#secondarynav{
	float:left;
	background-color:#E5F0F6;
	margin: 0px 20px 10px 10px;
	padding:5px 5px;
	position:relative;
	width:140px;
	
}



#secondarynav UL { 
	padding-left:25px;width:100px;

}

#secondarynav LI {
	padding-bottom:5px;
}
#secondarynav LI a:link{	
	text-decoration: none; 
	color: #037F93;
}

#secondarynav LI a:hover{	
	text-decoration: none; 
	background-color: #C8E7FD; 
	color: #037F93;
}

#secondarynav LI a:visited{	
	text-decoration: none; 
	color: #037F93;
}

/* Styles for Main Pages */

#levelOnefeatures p {
	font-size: 60%; 
	line-height: normal; 
	color: #005983; 
	padding-right: 10px; 
	padding-left: 10px; 
	margin-bottom: 12px; 
	font-weight: normal;
}


#levelOnefeatures H3 {
	text-transform:none;
	color: #3C4A51;
	margin-top: 5px;
	padding-left: 10px;
	font: 600 70% Arial, Helvetica, sans-serif;
}

#levelOnefeatures H3 a:link {
	font-weight: normal; 
	color: #41535C; 
	text-decoration: underline;
	font: 600 100% Arial, Helvetica, sans-serif;
}

#levelOnefeatures H3 a:hover {
background-color: #DDEEFF;
}
/* Styles for DATA TABLE   */
table.data{
	font: 600 70% Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0 0 0 10px;
	}

table.data caption {
	padding: 0 0 5px 0;
	width: 550px;	 
	font: italic 11px Arial, Helvetica, sans-serif;
	text-align: right;
}

table.data th {
	text-transform:none;
	font: bold 100% Arial, Helvetica, sans-serif;
	color: #005983;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-align: left;
	padding: 3px 3px 3px 6px;
	background: #CFE4EF;
}
table.data th.corner{
	text-transform:none;
	font: bold 100% Arial, Helvetica, sans-serif;
	color: #005983;
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-align: left;
	padding: 3px 3px 3px 6px;
	background: #CFE4EF;
}

table.data th.corner_nobg {
	text-transform:none;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

table.data td{
	font-weight:normal;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background-color: #FFFFFF;
	padding: 3px 3px 3px 6px;
	color: #545454;
}

table.data td.left{
	font-weight:normal;
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background-color: #FFFFFF;
	padding: 3px 3px 3px 6px;
	color: #545454;
}


table.data td.alt {
	font-weight:normal;
	background-color: #E9F5FB;
	color: #292929;
}
table.data td.altleft{
	font-weight:normal;
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background-color: #E9F5FB;
	padding: 3px 3px 3px 6px;
	color: #545454;
}


table.data th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background-color: #FFFFFF;
	font: bold 100% Arial, Helvetica, sans-serif;
}

table.data th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background-color: #E9F5FB;
	font: bold 100% Arial, Helvetica, sans-serif;
}
/*correction to override font-size*/
table.data td p, table.data td UL, table.data td OL{font-size:100%}

.enewsText{font-size:10px;padding-right:20px}	

/* Hack for IE 5.5 so primary menu doe not blow down on main pages ex:history day */
 * html #content h1 img{margin-left:-3px}

.collectionList {
	font-size:11px;
	}
.resultsTable {	
	padding:0px 0px 0px 10px;
	}
.resultsTable img {
	border:0px;
	}

.resultsTable h4, .resultsTable h6 {
	font-size:12px;
	padding:0px;
	margin:0px;
	}
.resultsTable h6 {
	padding-left:8px;
	}
.resultsTable h4{
	display:block;
	background:#e5e5e5;
	padding:5px;
	}	