/* Created October 14, 2008, Joe Hoover */

/* Revised December 10, 2008, Monica Manny Ralston
Changed page width for binding purposes
Changed font-size for eye readability 
Changed h2 and h3 for proportionality 
Last revised:  April 28. 2009
Added H4 */


body {background-color: #FFFFFF;}

#rowHeader, #crumbs, #header, #templateHeader, .primaryNav, #submenu, #footer {display: none; }

.UL {
list-style-image: url(../bullet.gif); 
font-size: 60%;
line-height: normal; 
color: #005983; 
list-style-type: square; 
list-style-position: outside;
}


.skiplinks{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
	}

 .hidden{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
	visibility:hidden;
}

.hiddenprint{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
	visibility:hidden;
}

/* 9/13/2011: Commented out because logo began printing on a separate page with Windows 7
#logo{display: block;
padding-bottom: 24px;}
*/



/* CONTENT WRAPPER: 
includes main content text, primary  navigation on right side, and optional secondary navigation displayed in the left column. 
*/

#contentWrapper {width: 576px; 
	background-image: none; 
	background-color: #FFFFFF;}


	
/* CONTENT:  
Area for the main content of the page. 
*/

#content {float: left;	
    width:576px; 
    border-top-color:#FFFFFF;
    border-top-width:0px;	
    border-right-color:#FFFFFF; 
    border-right-width:0px;
    border-top-style:solid; 
    border-right-style:solid;
    background-color:#FFFFFF;
    color:#000000 !important;
    }

#content H1 {
    font-family:"Times New Roman", Times, serif;
    background-color:#FFFFFF; 
    font-size:24px; 
    padding-top:3px; 
    padding-bottom:3px; 
    padding-left:0px; 
    padding-right:0px !important;
    }

#content H2 {
    font-family:"Times New Roman", Times, serif;
    background-color:#FFFFFF; 
    font-size:20px; 
    text-indent:0pt; 
    padding-top:0px; 
    padding-bottom:0px; 
    padding-left:0px; 
    padding-right:0px !important; 
    }

#content H3 {
    font-family:"Times New Roman", Times, serif;
    background-color:#FFFFFF; 
    font-size:16px; 
    text-indent:0pt;
    padding-top:0px; 
    padding-bottom:0px; 
    padding-left:0px; 
    padding-right:0px !important; 
    }
    
#content H4 {
    font-family:"Times New Roman", Times, serif;
    background-color:#FFFFFF; 
    font-size:16px !important; 
    text-indent:0pt;
    padding-top:0px; 
    padding-bottom:0px; 
    padding-left:0px; 
    padding-right:0px !important;
    }
    

#content p 	{
    font-family:"Times New Roman", Times, serif; 
    background-color:#FFFFFF; 
    font-size:16px; 
    text-indent:0pt !important;
    }

#content dl {
    font-family:"Times New Roman", Times, serif; 
    background-color:#FFFFFF; 
    font-size:16px; 
    text-indent:0pt !important;
    }

#content td {
    font-family:"Times New Roman", Times, serif; 
    background-color:#FFFFFF; 
    font-size:16px
    }

#content th {
    font-family:"Times New Roman", Times, serif; 
    background-color:#FFFFFF; 
    font-size:16px
    }

#content strong {
    font-family:"Times New Roman", Times, serif; 
    background-color:#FFFFFF; 
    font-size:16px; 
    text-indent:0pt !important;
    }

#content P.eadsubheading{
     font-size:16px !important;
     font-weight:700;
     background-color:#FFFFFF;
     color:#000000 !important;
     padding-top:0px;
     padding-bottom:10px;
     text-align:center;
     }     

#content P.restriction {
    font-size:16px !important;
    font-weight:700;
    color:#bf2c37;
    padding-top:0px;
    padding-bottom:10px;
    text-align:center;
    text-decoration:none;
    }

#content img.extptr {
    margin:10px;
    }

#EADtable table {
    border-style: none;
    table-layout: auto;
    border-style:none;
    }

#EADtable td {
    padding: 3px 15px 3px 0px;
    width: auto;
    }                

#chronlist table {
    border-style: none;
    margin-left:10px;
    table-layout: auto;
    border-style:none;
    }
                    
#chronlist td {
    padding: 3px 10px 3px 10px;
    }               
                    
#dsctable table {
    border-style: none;
    table-layout: fixed;
    }

#dsctable td {
    padding: 0px 0px 3px 0px;
    }